lab1/.ch_drv.ko.cmd
lab1/.ch_drv.mod.cmd
lab1/.ch_drv.mod.o.cmd
lab1/.ch_drv.o.cmd
lab1/.Module.symvers.cmd
lab1/.modules.order.cmd
lab1/ch_drv.mod
lab1/ch_drv.mod.c
lab1/ch_drv.mod.o
lab1/ch_drv.o
lab1/Module.symvers
lab1/modules.order
lab1/ch_drv.ko
.vscode
/lab1/t
/lab1/test

lab2/.lab2.ko.cmd
lab2/.lab2.mod.cmd
lab2/.lab2.mod.o.cmd
lab2/.lab2.o.cmd
lab2/.Module.symvers.cmd
lab2/.modules.order.cmd
lab2/lab2.mod
lab2/lab2.mod.c
lab2/lab2.mod.o
lab2/lab2.o
lab2/Module.symvers
lab2/modules.order
lab2/lab2.ko
lab2/p
lab2/part.o

lab3/.virt_net_if.ko.cmd
lab3/.virt_net_if.mod.cmd
lab3/.virt_net_if.mod.o.cmd
lab3/.virt_net_if.o.cmd
lab3/.Module.symvers.cmd
lab3/.modules.order.cmd
lab3/virt_net_if.mod
lab3/virt_net_if.mod.c
lab3/virt_net_if.mod.o
lab3/virt_net_if.o
lab3/Module.symvers
lab3/modules.order
lab3/virt_net_if.ko